*{
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
    font-weight:bolder;
}

body{
    padding-bottom: 200px;
}

.header{
    height: 100vh;
    padding-bottom: 200px;
}

.navbar-style{
    box-shadow: 0 3px 10px #efefef;
}

.logo{
    padding-top: 2px;
}
a img:hover{
    color: #ffc1c1;
}
.cvcv{
    margin: 10px;
    color: #ffc1c1;
    font-size: 20px;
    font-weight: bolder;
}
.cvcv:hover{
    color: #FFC1C1;
    text-decoration: none;
}

.icon-bar{
    background-color: rgb(172, 90, 90);
}

li a{
    color: rgb(172, 90, 90);
}

li a:hover{
    color: rgb(172, 90, 90);
}

/* h1{
    color: rgb(167, 18, 18);
} */
.xcxc{
    color: rgb(172, 90, 90);
}

.bhbh{
    top: 20px;
    border-radius: 50px;
    height: 0.3px;
    background: rgb(172, 90, 90);
    margin-bottom: 50px;
}
.big-text{
    font-size: 40px;
    margin: 20px 0;
    color: #ffc1c1;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: 100;
}

a.btn{
    margin: 30px 10px;
    width: 150px;
    padding: 10px;
    border-radius: 20px;
    color: rgb(172, 90, 90);
    font-weight: bolder;
}

a.btn-first{
    background-color: #ffc1c1;
    color:rgb(255, 255, 255);
}

a.btn-second{
    background-color: transparent;
    border: 1px solid #FFC1C1;
}

a.btn-third{
    background-color: #ffc1c1;
    color:rgb(255, 255, 255);
    /* width: 95%; */
}

a.btn:hover{
    background-color: #ffc1c1;
    border: none;
    color: #fff;
    box-shadow: 5px 5px 10px rgb(236, 167, 167);
    transition: 0.3s;
}

.img-responsive{
    margin: 60px;
}

.navbar-style{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.fff{
    padding: 10px 12px 10px 12px;
    border: 1px solid lightgrey;
    border-radius: 20px;
    width: 100%;
    box-sizing: border-box;
    color: #2C3E50;
    font-size: 14px;
    letter-spacing: 1px;
    margin: 10px;
}


a {
    color: inherit;
    cursor: pointer;
}

a.xd{
    margin: 10px;
    /* border-radius: 40px; */
}

.xd:hover{
    box-shadow: 5px 5px 5px rgb(185, 179, 179);
    transition: 0.3s;
}

.ghgh{
    margin-top: 60px;
}

.fp{
    color: black;
}
.fp:hover{
    text-decoration: none;
}

img.img-flower{
    margin: 0px;
}

.footer{
    text-align: center;
    position: relative;
    height: 150px;
    clear:both;
    padding-top:20px;
}

.ftt:hover{
    box-shadow: 5px 5px 5px rgb(247, 222, 222);
    transition: 0.1s;
}

.fttt{
    font-size: 15px;
    color: rgb(129, 85, 85);
    padding-left: 20px;
    margin-top: 20px;
    background:local;
}

.ftt{
    align-items: center;
    border-radius: 50%;
    border-style: solid;
    margin-left: 20px;
    margin-bottom: 40px;
    padding: 10px;
    border-color: rgb(129, 85, 85);
    border-width: 1px;
    background: local;
}

.cbcb{
    text-align: center;
    margin-bottom: 70px;
}

.container{
    padding-top: 70px;
    padding-bottom: 180px;
}

